
/* sidebar */
.body-line {
    content: '';
    position: absolute;
    top: 0;
    left: 19.5%;
    width: 0.02%;
    height: 100%;
    background-color: #575757;

    pointer-events: none;
    z-index: 9999;
    opacity: 0.2;
}

.sidebar {
    width: 250px;
    position: fixed;
}

header {
    display: none;
}

.logo {
    padding: 30px 0 30px 32px;
}

.side-nav {
    display: flex;
    flex-direction: column;
    padding: 24px 0 30px 32px;
    gap: 10px;

}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    padding: 24px 0 30px 32px;
}

.side-nav a,
.sidebar-footer a,
.top-menu a,
.top-right a {
    text-decoration: none;
    color: #000000;
    line-height: 120%;
    letter-spacing: 0.02em;
    opacity: 1;
    font-weight: var(--font-secondary-weight);
    position: relative;
}
.sidebar-footer a{
    color: #575757;
}
.sidebar-footer a:hover{
    color: #797878;
}
.side-nav a:hover,
.top-menu a:hover,
.top-right a:hover {
    color: #575757;
}

.side-nav a:hover span{
  color: #F45F00;
}

.one {
    position: absolute;
    top: -15%;
    font-size: 10px;
    color: #575757;
    font-weight: var(--font-secondary-weight);

}

.mobile-menu {
    display: none;
}


main {
    margin-left: 250px;
    
}

/* guidelines */
.guidelines {
    padding: 32px 32px 120px 32px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.guide {
    line-height: 110%;
    letter-spacing: -0.01%;
    font-weight: 500;
    font-size: var(--font-heading1);
    max-width: 419px;
    margin-top: 0;
}




/* content */

.content {
    padding: 32px 32px 128px 32px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.c-title {
    font-size: 30px;
    font-weight: var(--font-secondary-weight);
    line-height: 120%;
    letter-spacing: 0.02em;
}

.c-list {
    width: 427px;
    list-style: none;

}

.item {
    counter-increment: item;
    font-size: var(--font-heading2);
    line-height: 120%;
    letter-spacing: 0.02em;
    font-weight: var(--font-secondary-weight);
    position: relative;
    margin-bottom: 10px;
}

.c-list .item::before {
    content: counter(item, decimal-leading-zero);
    position: absolute;
    left: -45px;
    top: 0;
    font-weight: 500;
    color: #575757;
}

/* strategy */
.strategy {
    display: flex;
    justify-content: space-between;
    padding: 32px 32px 120px 32px;
}

.strate-title {
    width: 467px;
    font-size: var(--font-heading1);
    line-height: 110%;
    letter-spacing: 0.01em;
    font-weight: var(--font-secondary-weight);
    margin: 0;
}



.strate-content {
    max-width: 467px;
}


/* personality */
.personality {
    padding: 32px 32px 120px 32px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.personality-con {
    display: flex;
    justify-content: space-between;
}


/* tone */

.tone-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
}

.tone-content {
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-width: 467px;

}

/* sample */

.sample-container{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.s-card-container{
    display: flex;
    gap: 32px;
}

.s-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}