@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap");

:root {
  --font-primary: "Rethink Sans", system-ui, sans-serif;
  --font-secondary: "Hedvig Letters Serif", serif;
  --black: #000000;
  --gray: #575757;
  --accent-1: #f45f00;
  --border: 1px solid rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

body {
  font-family: var(--font-primary);
  font-weight: 400;
  color: #000;
  overflow: hidden;
}


/* layout */
.layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  height: 100vh;
}

/* sidebar */
.sidebar {
  display: grid;
  grid-template-areas:
    "brand"
    "nav"
    "actions";
  align-content: start;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100vh;
  z-index: 100;
  overflow-y: auto;
  border-right: var(--border);
}

.brand {
  grid-area: brand;
  padding: 30px 0px 30px 32px;
}

.brand-logo {
  width: 51.01px;
  height: 11.83px;
}

.menu-toggle {
  display: none;
  grid-area: menubar;
}

.side-nav {
  grid-area: nav;
  border-top: var(--border);
  border-bottom: var(--border);
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px 0px 30px 32px;
}

.nav-link {
  color: #000;
}

.nav-link:hover {
  color: var(--gray);
}

.nav-link sup {
  color: var(--gray);
}

.nav-link:hover sup {
  color: var(--accent-1);
}

.sidebar-footer {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  padding: 24px 0 0 32px;
}

.action-link {
  color: var(--gray);
  text-transform: capitalize;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  font-weight: 700;
}

/* content */
.main-content {
  grid-column: 2;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100vh;
}

/* hero */
.hero {
  width: 100%;
  height: auto;
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
}

/* guidelines */
.guidelines,
.content-table,
.strategy {
  padding-top: 32px;
  padding-bottom: 120px;
  display: flex;
  gap: 32px;
  border-bottom: var(--border);
}

.content-heading,
.content-info,
.strategy-heading,
.strategy-info,
.personality-heading,
.personality-info,
.tone-heading,
.tone-info {
  flex: 1;
}

.guide-content,
.strategy-content,
.personality-content {
  text-align: start;
  color: var(--gray);
}

.guidelines {
  justify-content: space-between;
}

.guide-heading {
  width: 100%;
  max-width: 419px;
}

.guide-content {
  width: 100%;
  max-width: 515px;
}

/* contents */
.content-table {
  padding-bottom: 128px;
}

.content-info {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-num {
  color: var(--gray);
}

/* strategy */
.strategy-info {
  margin-left: 32px;
}

/* personality */
.personality {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  gap: 32px;
}

.personality-content {
  margin-left: 32px;
}

.strategy-info img {
  margin: 32px 0;
  width: 100%;
}

.personality-img {
  width: 100%;
}

.personality-img img {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: auto;
  display: block;
}

/* tone */
.tone-container {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  justify-content: space-between;
  gap: 32px;
  border-bottom: var(--border);
}

.tone-info {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* sample */
.sample-container {
  padding-top: 32px;
  padding-bottom: 152px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  align-items: flex-start;
  border-bottom: var(--border);
}

.sample-info {
  display: flex;
  padding-bottom: 32px;
  gap: 32px;
}

.sample-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* logo */
.logo-section,
.color-section,
.typography-section {
  padding-top: 32px;
  padding-bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-bottom: var(--border);
}

.logo-intro,
.color-intro,
.typo-intro {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.logo-intro h1,
.logo-intro p,
.color-intro h1,
.color-intro p,
.typo-intro h1,
.typo-heading {
  flex: 1;
}

.logo-images,
.color-contents {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-top: 40px;
}

.logo-image-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo-image-content img {
  width: 100%;
  height: auto;
  display: block;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 16px;
}

.logo-grid-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.logo-grid-item picture {
  width: 100%;
  display: block;
}

.logo-grid-item picture img {
  width: 100%;
}

.logo-grid-caption img {
  width: 16px;
  height: 16px;
}

.logo-grid-caption {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
}

/* color */
.color-primary {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.color-grid {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.color-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.color-card picture {
  width: 100%;
  height: auto;
}

.color-card picture img {
  width: 100%;
  height: auto;
}

.color-secondary {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.color-grid-secondary {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 16px;
}

.color-card-caption {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.color-gradient {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.color-card img{
    width: 100%;
  }
.color-grid-gradient {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 32px;
}

/* typography */
.typo-intro {
  padding-top: 32px;
  padding-bottom: 40px;
}

.typo-heading-img {
  width: 100%;
  display: block;
  height: auto;
}

.typo-heading-img img {
  width: 100%;
  display: block;
  height: auto;
}

.typo-content {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.typeface {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.typeface-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: start;
}

.typo-sizing-wrap {
  display: flex;
  flex-direction: column;
}

.typo-sizing {
  border-top: var(--border);
  display: flex;
  gap: 64px;
  padding: 32px 0 40px 0;
}

.typo-sizing h3,
.typo-sizing p {
  flex: 1;
}

.typo-variations {
  display: flex;
  flex-direction: column;
}

.typo-variation {
  padding: 30px 32px 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.typo-variation h2 {
  width: 100%;
  max-width: 654px;
}

.typo-variation h3 {
  width: 100%;
  max-width: 505px;
}

.typo-variation h4 {
  width: 100%;
  max-width: 517px;
}

.typo-variation-footer {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
  padding-bottom: 4px;
}

/* art */
.art-section {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.art-intro {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding-top: 20px;
}

.art-intro h1,
.art-intro p {
  flex: 1;
}

.art-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 16px;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  gap: 31px;
  padding-top: 128px;
  padding-bottom: 32px;
}

.footer-top {
  display: flex;
  gap: 59px;
  justify-content: flex-start;
  align-items: end;
  padding-left: 40px;
}

.footer-nav {
  display: flex;
  gap: 51px;
}

.footer-nav li a {
  color: inherit;
}

.footer-bottom {
  border-top: var(--border);
  padding: 40px 40px 20px 40px;
}

.footer-links {
  display: flex;
  gap: 16px;
}

.footer-links li a {
  color: inherit;
}

.footer-links li:last-child {
  margin-left: auto;
}

@media (max-width: 1279px) {
  .layout {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }
  .sidebar {
    position: static;
    width: auto;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "brand actions"
      "nav  nav";
    padding: 0 32px;
  }
  .brand {
    padding: 14px 0 18px 0;
  }
  .nav-list {
    flex-direction: row;
    justify-content: space-between;
    padding: 14px 0;
  }
  .sidebar-footer {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    padding: 0;
  }
  .action-link {
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    font-weight: 400;
  }
  .main-content {
    grid-column: auto;
    height: auto;
    overflow-y: auto;
    
  }
  .guidelines,
  .content-table {
    padding-bottom: 80px;
  }
  .logo-section {
    padding-top: 88px;
    padding-bottom: 80px;
    gap: 0;
  }
  
  .typo-sizing-wrap {
    flex-direction: column-reverse;
  }
  .typo-variations {
    flex-direction: column-reverse;
  }
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 779px) {
  .p-32 {
    padding-right: 20px;
    padding-left: 20px;
  }
  .main-content {
    margin-top: 50px;
  }
  .sidebar {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "brand menubar";
    position: fixed;
    height: auto;
    width: 100%;
    border-bottom: none;
  }
  .menu-toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
  }
  .side-nav,
  .sidebar-footer {
    display: none;
    width: 100%;
    background: white;
  }
  .sidebar.is-open .side-nav,
  .sidebar.is-open .sidebar-footer {
    display: flex;
    align-items: flex-start;
    width: 100%;
    animation: slideDown 0.3s ease-out;
  }
  .sidebar.is-open {
    grid-template-areas:
      "brand menubar"
      "nav nav"
      "actions actions";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    align-content: start;
    background: white;
    z-index: 100;
  }
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .sidebar.is-open .side-nav {
    border-top: var(--border);
    border-bottom: var(--border);
    padding: 0;
    margin-top: 0;
    flex-direction: column;
  }
  .sidebar.is-open .nav-list {
    flex-direction: column;
    padding: 20px 0;
  }
  .sidebar.is-open .sidebar-footer {
    flex-direction: column;
    padding: 20px 0;
    gap: 10px;
    border-bottom: var(--border);
    
  }
  .guidelines,
  .content-table,
  .strategy,
  .personality {
    flex-direction: column;
  }
  .guide-heading h1 br,
  .strategy-heading h1 br {
    display: none;
  }
  .content-info,
  .strategy-info,
  .personality-content {
    margin-left: 0;
  }
  .tone-container {
    flex-direction: column;
  }
  .sample-info {
    flex-direction: column;
  }
  .sample-container {
    padding-bottom: 112px;
  }
  .logo-section {
    gap: 30px;
    padding-top: 32px;
  }
  .logo-intro {
    flex-direction: column;
    gap: 12px;
  }
  .logo-grid {
    grid-template-columns: 1fr;
  }
  .color-intro {
    flex-direction: column;
  }
  .color-primary {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .color-grid {
    flex-direction: column;
    gap: 40px;
  }
  .color-card {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .color-card picture {
    width: 100%;
    height: auto;
  }
  .color-card picture img {
    width: 100%;
    height: auto;
  }
  .color-secondary {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .color-grid-secondary {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .color-card-caption {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .color-grid-gradient {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .strategy {
    padding-bottom: 80px;
  }
  .typo-intro {
    flex-direction: column;
    gap: 12px;
  }
  .typo-heading {
    padding-bottom: 60px;
  }
  .typo-sizing-wrap {
    flex-direction: column;
  }
  .typo-sizing {
    flex-direction: column;
  }
  .art-intro {
    flex-direction: column;
  }
  .art-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-bottom, .footer-top{
    padding-left: 16px;
  }
  .footer-nav {
    flex-direction: column;
    gap: 19px;
  }
}

@media (max-width: 500px) {
  .color-gradient {
    align-items: center;
    padding: 0;
  }

  .color-gradient h3{
    text-align: left;
    width: 248px;
  }
  .color-grid-gradient img {
    max-width: 248px;
    max-height: 180px;
    object-fit: cover;

  }
  .typo-variation {
    padding: 30px 0px 30px 0;}
    .typo-content {
    padding: 0px;
}
  .art-grid img {
    max-height: 210px;
    object-fit: cover;
  }
  .footer-top img {
    max-width: 270px;
    height: auto;
  }
}

@media (max-width: 355px) {
  .footer-links {
   
    gap: 5px;
}
}