
/* sidebar */
.body-line {
    content: '';
    position: absolute;
    top: 0;
    left: 19.5%;
    width: 0.02%;
    height: 100%;
    background-color: #575757;

    pointer-events: none;
    z-index: 9999;
    opacity: 0.2;
}

.sidebar {
    width: 250px;
    position: fixed;
}

header {
    display: none;
}

.logo {
    padding: 30px 0 30px 32px;
}

.side-nav {
    display: flex;
    flex-direction: column;
    padding: 24px 0 30px 32px;
    gap: 10px;

}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    padding: 24px 0 30px 32px;
}

.side-nav a,
.sidebar-footer a,
.top-menu a,
.top-right a {
    text-decoration: none;
    color: #000000;
    line-height: 120%;
    letter-spacing: 0.02em;
    opacity: 1;
    font-weight: var(--font-secondary-weight);
    position: relative;
}
.sidebar-footer a{
    color: #575757;
}
.sidebar-footer a:hover{
    color: #797878;
}
.side-nav a:hover,
.top-menu a:hover,
.top-right a:hover {
    color: #575757;
}

.side-nav a:hover span{
  color: #F45F00;
}

.one {
    position: absolute;
    top: -15%;
    font-size: 10px;
    color: #575757;
    font-weight: var(--font-secondary-weight);

}

.mobile-menu {
    display: none;
}


main {
    margin-left: 250px;
    
}

/* guidelines */
.guidelines {
    padding: 32px 32px 120px 32px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.guide {
    line-height: 110%;
    letter-spacing: -0.01%;
    font-weight: 500;
    font-size: var(--font-heading1);
    max-width: 419px;
    margin-top: 0;
}




/* content */

.content {
    padding: 32px 32px 128px 32px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.c-title {
    font-size: 30px;
    font-weight: var(--font-secondary-weight);
    line-height: 120%;
    letter-spacing: 0.02em;
}

.c-list {
    width: 427px;
    list-style: none;

}

.item {
    counter-increment: item;
    font-size: var(--font-heading2);
    line-height: 120%;
    letter-spacing: 0.02em;
    font-weight: var(--font-secondary-weight);
    position: relative;
    margin-bottom: 10px;
}

.c-list .item::before {
    content: counter(item, decimal-leading-zero);
    position: absolute;
    left: -45px;
    top: 0;
    font-weight: 500;
    color: #575757;
}

/* strategy */
.strategy {
    display: flex;
    justify-content: space-between;
    padding: 32px 32px 120px 32px;
}

.strate-title {
    width: 467px;
    font-size: var(--font-heading1);
    line-height: 110%;
    letter-spacing: 0.01em;
    font-weight: var(--font-secondary-weight);
    margin: 0;
}



.strate-content {
    max-width: 467px;
}


/* personality */
.personality {
    padding: 32px 32px 120px 32px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.personality-con {
    display: flex;
    justify-content: space-between;
}


/* tone */

.tone-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
}

.tone-content {
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-width: 467px;

}

/* sample */

.sample-container{
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.s-card-container{
    display: flex;
    gap: 32px;
}

.s-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


 /* logo */

 #logo{
    padding: 32px 32px 120px 32px;
    
 }
 .logo-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
 }

 .img-container{
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-top: 40px;
 }

    /* incorrect */
    .img-content-card-container{
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 16px;
    }

    .img-content-card{
        display: grid;
        gap: 10px;
    }
    .content-i-img{
        display: flex;
    gap: 5px;
    }


    /* color */

    #color{
        padding: 32px 32px 120px 32px;
    }
    .color-containers{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .color{
        width: 230px;
    height: 230px;
    border-radius: 50%;
    }

    .color-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px 16px;
    }

    .gradient-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 30px;
    }

    .gradient{
        display: grid;
        gap: 10px;
    }

    /* typography */

    #typography{
        padding: 32px 32px 120px 32px;
    }

    .typo-content{
        display: flex;
    justify-content: space-between;
    }

    .rethink{
        font-size: 60px;
        font-weight: 400;
    }
    .primary{
        font-size:15px;
        font-weight: 500;
    }
    .primar-think{
         padding-bottom: 60px;
    }
    .type-container{
        padding-left: 32px;
        padding-right: 32px;
       
    }

    .size{
        padding-left: 32px;
        padding-right: 32px;   
        padding-top: 32px;
        
    }
    .size-content{
        display: flex;
        justify-content: space-between;
        padding-bottom: 40px;
    }
    .clear{
        display: grid;
        gap: 10px;
    }
    .clear-title{
        font-size: 50px;
        font-weight: 400;
    }
    .clear-content{
        display: flex;
        justify-content: space-between;
        color: #575757;
        font-size: 13px;
        font-weight: 500;
    }

    /* art direction */

    #art{
         padding: 32px 32px 128px 32px;
    }


    .card-container{
        display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 30px;
    }

    .card-title{
        margin-top: 10px;
        margin-bottom: 0px;
        font-size: 13px;
        color: #000000;
        font-weight: 500;
    }
    .card-para{
        color: #575757;
        font-weight: 500;
        font-size: 13px;
        margin-bottom: 0;
    }

    footer{
       
        padding-bottom: 52px;

    }

    .footer-1{
        display: flex;
       gap: 60px;
       align-items: end;
       padding-bottom: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }
    .f-item{
        display: flex;
        gap: 50px;
       
    }

    .f-item a{
         color: #000000;
         text-decoration: none;
         font-size: 15px;
         font-weight: 500;
    }

    .footer-2{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
         padding-left: 40px;
        padding-right: 40px;
    }
    .footer-2-content{
        display: flex;
       justify-content: space-between;
       align-items: flex-end;
       padding-top: 40px;
    }

    .footer-2-content a, .footer-2-content p{
        margin-right: 16px;
    }


    /* tablet responsive */

    @media (max-width:1266px) {
       .sidebar,.body-line{
        display: none;
       }
       main{
        margin: 0 auto;
       }
       .hero img{
        width: 100%;
       }
       header{
        display:grid ;
        
       }
       .logo{
        display: flex;
        justify-content: space-between;
        padding-right: 32px;
        
        margin: 0 auto;
        gap: 470px;
       }
       .mobile-toggle{
        display: none;
       }
       .top-right{
        display: flex;
        gap: 12px;
        color: #575757;
       }
       .top-right a{
        color: #575757;
        font-size: 13px;
       }
       .top-menu{
        padding-top: 14px;
        padding-bottom: 14px;
        display: flex;
        gap: 60px;
        margin: 0 auto;
        
        font-size: 13px;
       }
       .gradient-container{
        margin: 0 auto;
       }

       body img{
        width: 100%;
       }
       .content-i-img img{
        width: 16px;
       
       }
       .color{
        width: 100%;
        max-width: 172px;
        max-height: 172px;
       }
       .footer-1{
        display: grid;
        align-items: center;
        justify-content: start;
       }
       .strate-title{
        font-size: 45px;
       }
    }

    /* responsive phone */

    @media (max-width: 776px) {
        
        .top-menu, .top-right{
            display: none;
        }
        #mobileToggle{
            display: flex;
           color: #000000;
           border: none;
           background-color: transparent;
           font-size: 13px;
           font-weight: 500;
        }
    .logo{
         padding: 18px 16px;
         display: flex;
         align-items: center;
         gap: 200px;
    }
    .hr-1{
        display: none;
    }
        .guidelines, .content, .strategy, .tone-container, .typo-content{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
          .personality-con, .typo-content{
            gap: 12px;
         }
         .strategy,.personality-con{
            flex-direction: column;
         }
         .tone-container{
            gap: 32px;
         }

         .s-card-container, .img-content-card-container, .color-container, .gradient-container, .card-container, .size-content{
           display: flex;
           flex-direction: column;
           justify-content: center;
         }
    }