

.p-32 {
  padding-right: 32px;
  padding-left: 32px;
}

.text-gray {
  color: var(--gray);
}

.span-orange {
  color: var(--accent-1);
}

.normal {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
}

.normal-50 {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.02em;
}

.normal-32 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: -0.02em;
}

.normal-20 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.secondary-normal {
  font-family: var(--font-secondary);
  font-size: 60px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
}

.secondary-normal-14 {
  font-family: var(--font-secondary);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
}

.display {
  font-family: var(--font-primary);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.heading-1 {
  font-family: var(--font-primary);
  font-size: 60px;
  line-height: 1.1;
  font-weight: 500;
  letter-spacing: -0.01em;
}

.heading-2 {
  font-family: var(--font-primary);
  font-size: 30px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -0.02em;
}

.heading-3 {
  font-family: var(--font-primary);
  font-size: 22px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  font-weight: 600;
}

.paragraph-1 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
}

.paragraph-2-bold {
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  font-weight: 700;
}

.caption-1 {
  font-family: var(--font-primary);
  font-size: 30px;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

.caption-2 {
  font-family: var(--font-primary);
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  font-weight: 500;
}

.link {
  font-family: var(--font-primary);
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

@media (max-width: 1279px) {
  .heading-1 {
    font-size: 45px;
  }
  .heading-2 {
    font-size: 26px;
  }
  .paragraph-1 {
    font-size: 16px;
    letter-spacing: 0;
  }
  .caption-1 {
    font-size: 24px;
  }
}

@media (max-width: 799px) {
  .heading-1 {
    font-size: 30px;
  }
  .heading-2 {
    font-size: 24px;
  }
  .caption-1 {
    font-size: 16px;
  }
  .normal {
    font-size: 41px;
  }
  .secondary-normal {
    font-size: 41px;
  }
}
